- @user ||= current_user
.stats
  %p
    %a{:href => following_user_path(@user)}
      %span#following.stat
        = User.following_count(@user)
        following
    %a{:href => followers_user_path(@user)}
      %span#followers.stat= pluralize(@user.followers_count, "follower")