/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

#page	{
	padding-top: 60px;
}

form .alert-message.block-message.error	{
	margin-top: 10px;
	padding: 14px;
}

form .alert-message.block-message.error ol	{
	margin-bottom: 0;
}

.gravatar_thumb	{
	position: absolute;
}

ul.users {
  margin-top: 1em;
}

.users li {
  list-style: none;
}

.timestamp	{
	font-size: 10px;
}

.span1.column.delete	{
	text-align: right;
}

form#new_micropost	{
	margin-bottom: 50px;
}

img.gravatar	{
	vertical-align: middle;
}

.users li	{
	margin-bottom: 7px;
}

.row.micropost	{
	border-bottom: 1px solid #F0F0F0;
	padding-bottom: 12px;
	margin-bottom: 12px;
}